<meta hhtp-equiv="Content-Type" content="text/html" charset=iso-8859-1" />

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="./Ex8.js"></script>
<link rel="stylesheet" type="text/css" href="Ex8.css">

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <div class="container-md">
    <div class="col-8">
        <div class="row">
            <input class="col-sm" type="number" id="numero" />
        </div>
        <div class="row">
                    <button class="borrar col-md btn-danger" id="retroceder"  onclick="borrar()">Retr</button>
                    <button class="borrar col-md btn-danger" id="CE" onclick="CE()">CE</button>
                    <button class="borrar col-md btn-danger" id="C" onclick="C()">C</button>
                </div>
                <div class="row">
                    <button class="num btn-secondary col-sm" id="siete" onclick="siete()">7</button>
                    <button class="num btn-secondary col-sm" id="ocho" onclick="ocho()">8</button>
                    <button class="num btn-secondary col-sm" id="nueve" onclick="nueve()">9</button>
                    <button class="op btn-primary btn-info col-sm" id="div" onclick="ferOperacio('/')">/</button>
                    <button class="op btn-primary btn-info col-sm" id="raiz" onclick="arrelQuadrada()" >Raiz</button>
                </div>
                <div class="row">
                    <button class="num col-sm btn-secondary" id="cuatro" onclick="cuatro()">4</button>
                    <button class="num col-sm btn-secondary" id="cinco" onclick="cinco()">5</button>
                    <button class="num col-sm btn-secondary" id="seis" onclick="seis()">6</button>
                    <button class="op col-sm btn-info" id="multi" onclick="ferOperacio('*')">*</button>
                    <button class="op col-sm btn-info" id="mod" onclick="ferOperacio('%')">%</button>
                </div>
                <div class="row">
                    <button class="num col-sm btn-secondary" id="uno" onclick="uno()">1</button>
                    <button class="num col-sm btn-secondary" id="dos" onclick="dos()">2</button>
                    <button class="num col-sm btn-secondary" id="tres" onclick="tres()">3</button>
                    <button class="op col-sm btn-info" id="resta" onclick="ferOperacio('-')">-</button>
                    <button class="op col-sm btn-info" id="raro" onclick="div1()">1/x</button>
                </div>
                <div class="row">
                    <button class="num col-sm btn-secondary" id="zero" onclick="zero()">0</button>
                    <button class="num col-sm btn-secondary" id="negativo" onclick="negatiu()">+/-</button>
                    <button class="num col-sm btn-secondary" id="coma" onclick="afegirComa()">.</button>
                    <button class="op col-sm btn-info" id="suma" onclick="ferOperacio('+')">+</button>
                    <button class="op col-sm btn-info" id="resultado" onclick="igual()">=</button>
                </div>
        </div>
    </div>
</body>